# =========================
# ComprovOS - Backend Env Example
# =========================

PORT=3333

# PostgreSQL (Supabase/Neon/local)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/comprovos?schema=public

# JWT
JWT_SECRET=troque-por-uma-chave-segura

# Ambiente
NODE_ENV=development